    <!-- Search Overlay -->
    <div id="searchOverlay" class="search-overlay d-none">
        <div class="search-overlay-content container mx-auto" style="max-width: 800px; padding-top: 100px;">
            <!-- Search Input Container -->
            <div class="position-relative">
                <input type="text" id="liveSearchInput" class="form-control form-control-lg py-3 px-4 rounded-3 shadow-sm" style="font-size: 1.15rem; border: 2px solid #a2bdf8;" placeholder="Tìm kiếm...">
                <div class="d-flex justify-content-end mt-2">
                    <a href="search.html" class="text-secondary fw-bold text-decoration-none" style="font-size: 0.85rem;">Tìm kiếm nâng cao</a>
                </div>
            </div>
            
            <!-- Dropdown Results Container -->
            <div id="searchResults" class="search-results-dropdown bg-white rounded-3 shadow-lg mt-3 overflow-hidden d-none">
                <div class="list-group list-group-flush" id="searchResultList">
                    <!-- Javascript Data Render Here -->
                </div>
                <div class="bg-light p-3 border-top pb-2">
                    <a href="search.html" class="text-secondary text-decoration-none fw-bold" style="font-size: 0.85rem;" id="searchAllText">Tìm tất cả kết quả cho từ khóa</a>
                </div>
            </div>
        </div>
        <!-- Button to close overlay -->
        <button id="closeSearchBtn" class="btn text-secondary position-absolute top-0 end-0 m-4 fs-2 border-0"><i class="fa-solid fa-xmark"></i></button>
    </div>
